<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group3.valapas">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.group3.valapas.CompanyPages.CompanyCustomerView"></activity>
        <activity android:name="com.group3.valapas.CompanyPages.CompanyInformation" />
        <activity android:name="com.group3.valapas.CompanyPages.CompanyProfile" />
        <activity android:name="com.group3.valapas.UserPages.UserBookingsMostRecent" />
        <activity android:name="com.group3.valapas.UserPages.UserBookingsCurrent" />
        <activity android:name="com.group3.valapas.UserPages.UserFavoritesMostRecent" />
        <activity android:name="com.group3.valapas.UserPages.UserFavoritesPrice" />
        <activity android:name="com.group3.valapas.UserPages.UserBrowsePrice" />
        <activity android:name="com.group3.valapas.UserPages.UserBrowsePopular" />
        <activity android:name="com.group3.valapas.UserPages.UserBrowseCategory" />
        <activity android:name="com.group3.valapas.UserPages.UserBookings" />
        <activity android:name="com.group3.valapas.UserPages.UserFavorites" />
        <activity android:name="com.group3.valapas.UserPages.UserProfile" />
        <activity android:name="com.group3.valapas.RegisterPages.RegisterCompany" />
        <activity android:name="com.group3.valapas.RegisterPages.RegisterUser" />
        <activity android:name="com.group3.valapas.BrowsePages.BrowsePriceTab" />
        <activity android:name="com.group3.valapas.BrowsePages.BrowsePopularTab" />
        <activity android:name="com.group3.valapas.BrowsePages.BrowseCategoryTab" />
        <activity android:name="com.group3.valapas.BrowsePages.BrowseProfilePage" />
        <activity android:name="com.group3.valapas.BrowsePages.BrowseFavoritesPage" />
        <activity android:name="com.group3.valapas.BrowsePages.BrowseBookingsPage" />
        <activity android:name="com.group3.valapas.RegisterPages.Register" />
        <activity android:name="com.group3.valapas.UserPages.UserBrowse" />
        <activity android:name="com.group3.valapas.BrowsePages.BrowsePage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>