<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group3.valapas">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UserPages.UserCompanyView" />
        <activity android:name=".CompanyPages.CompanyHomeActivity" />
        <activity android:name=".CompanyPages.CompanyBookingsActivity" />
        <activity android:name=".CompanyPages.CompanyUpdateInfo" />
        <activity android:name=".CompanyPages.CompanyReviewsActivity" />
        <activity android:name=".RegisterPages.RegisterCompanyActivity" />
        <activity android:name=".CompanyPages.CompanyCustomerView" />
        <activity android:name=".CompanyPages.CompanyInformation" />
        <activity android:name=".CompanyPages.CompanyProfile" />
        <activity android:name=".UserPages.UserBrowsePrice" />
        <activity android:name=".UserPages.UserBrowsePopular" />
        <activity android:name=".UserPages.UserMakeReservation" />
        <activity android:name=".UserPages.UserBookings" />
        <activity android:name=".UserPages.UserFavorites" />
        <activity android:name=".UserPages.UserProfile" />
        <activity android:name=".RegisterPages.RegisterCompany" />
        <activity android:name=".RegisterPages.RegisterUser" />
        <activity android:name=".BrowsePages.BrowsePriceTab" />
        <activity android:name=".BrowsePages.BrowsePopularTab" />
        <activity android:name=".BrowsePages.BrowseCategoryTab" />
        <activity android:name=".BrowsePages.BrowseProfilePage" />
        <activity android:name=".BrowsePages.BrowseFavoritesPage" />
        <activity android:name=".BrowsePages.BrowseBookingsPage" />
        <activity android:name=".RegisterPages.Register" />
        <activity android:name=".UserPages.UserBrowse" />
        <activity android:name=".BrowsePages.BrowsePage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>